<a href="https://colab.research.google.com/github/indhuchintapally/plantdisease_project/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Start Google Colabs - Import Drive

In [11]:
from google.colab import drive

Find Present Working Directory

In [20]:
pwd

'/content'

Find content of Present Working Directory

In [21]:
ls /mall_customers.csv

/mall_customers.csv

Install PySpark

In [18]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

Import Spark Session

In [19]:
from pyspark.sql import SparkSession

In [22]:
spark = SparkSession.builder.appName("week11").getOrCreate()

In [23]:
spark

In [27]:
spark

In [29]:
df = spark.read.csv('/mall_customers.csv', header=True)

In [30]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [31]:
df.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- AnnualIncome: string (nullable = true)
 |-- SpendingScore: string (nullable = true)

In [32]:
df.show()

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0001|  Male| 19|          15|           39|
|      0002|  Male| 21|          15|           81|
|      0003|Female| 20|          16|            6|
|      0004|Female| 23|          16|           77|
|      0005|Female| 31|          17|           40|
|      0006|Female| 22|          17|           76|
|      0007|Female| 35|          18|            6|
|      0008|Female| 23|          18|           94|
|      0009|  Male| 64|          19|            3|
|      0010|Female| 30|          19|           72|
|      0011|  Male| 67|          19|           14|
|      0012|Female| 35|          19|           99|
|      0013|Female| 58|          20|           15|
|      0014|Female| 24|          20|           77|
|      0015|  Male| 37|          20|           13|
|      0016|  Male| 22|          20|           79|
|      0017|Female| 35|          21|           35|
|      0018|  Male| 20|          21|           66|
|      0019|  Male| 52|          23|           29|
|      0020|Female| 35|          23|           98|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [33]:
df.show(10)

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0001|  Male| 19|          15|           39|
|      0002|  Male| 21|          15|           81|
|      0003|Female| 20|          16|            6|
|      0004|Female| 23|          16|           77|
|      0005|Female| 31|          17|           40|
|      0006|Female| 22|          17|           76|
|      0007|Female| 35|          18|            6|
|      0008|Female| 23|          18|           94|
|      0009|  Male| 64|          19|            3|
|      0010|Female| 30|          19|           72|
+----------+------+---+------------+-------------+
only showing top 10 rows

In [34]:
df.count()

200

In [35]:
df.select('CustomerID','Genre','Age').show(10)

+----------+------+---+
|CustomerID| Genre|Age|
+----------+------+---+
|      0001|  Male| 19|
|      0002|  Male| 21|
|      0003|Female| 20|
|      0004|Female| 23|
|      0005|Female| 31|
|      0006|Female| 22|
|      0007|Female| 35|
|      0008|Female| 23|
|      0009|  Male| 64|
|      0010|Female| 30|
+----------+------+---+
only showing top 10 rows

In [36]:
df.orderBy('Genre').show()

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0023|Female| 46|          25|            5|
|      0051|Female| 49|          42|           52|
|      0025|Female| 54|          28|           14|
|      0032|Female| 21|          30|           73|
|      0050|Female| 31|          40|           42|
|      0035|Female| 49|          33|           14|
|      0005|Female| 31|          17|           40|
|      0036|Female| 21|          33|           81|
|      0007|Female| 35|          18|            6|
|      0037|Female| 42|          34|           17|
|      0010|Female| 30|          19|           72|
|      0038|Female| 30|          34|           73|
|      0013|Female| 58|          20|           15|
|      0039|Female| 36|          37|           26|
|      0017|Female| 35|          21|           35|
|      0040|Female| 20|          37|           75|
|      0003|Female| 20|          16|            6|
|      0041|Female| 65|          38|           35|
|      0029|Female| 40|          29|           31|
|      0044|Female| 31|          39|           61|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [47]:
df = df.withColumn("Age",df['age'].cast("Integer"))
df.printSchema()

df = df.withColumn("AnnualIncome",df['annualincome'].cast("Integer"))
df.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- AnnualIncome: integer (nullable = true)
 |-- SpendingScore: string (nullable = true)

root
 |-- CustomerID: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- AnnualIncome: integer (nullable = true)
 |-- SpendingScore: string (nullable = true)

In [48]:
df.groupBy("Genre").count().show()

+------+-----+
| Genre|count|
+------+-----+
|Female|  112|
|  Male|   88|
+------+-----+

In [49]:
df.select("Genre").distinct().show()

+------+
| Genre|
+------+
|Female|
|  Male|
+------+

In [51]:
df.describe().show()

+-------+------------------+------+-----------------+-----------------+------------------+
|summary|        CustomerID| Genre|              Age|     AnnualIncome|     SpendingScore|
+-------+------------------+------+-----------------+-----------------+------------------+
|  count|               200|   200|              200|              200|               200|
|   mean|             100.5|  NULL|            38.85|            60.56|              50.2|
| stddev|57.879184513951124|  NULL|13.96900733155888|26.26472116527124|25.823521668370173|
|    min|              0001|Female|               18|               15|                 1|
|    max|              0200|  Male|               70|              137|                99|
+-------+------------------+------+-----------------+-----------------+------------------+

In [55]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [58]:
df1 = df.select(F.col("CustomerID"),F.lit("Warrensburg Missouri").alias("location"))
df.show()

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0001|  Male| 19|          15|           39|
|      0002|  Male| 21|          15|           81|
|      0003|Female| 20|          16|            6|
|      0004|Female| 23|          16|           77|
|      0005|Female| 31|          17|           40|
|      0006|Female| 22|          17|           76|
|      0007|Female| 35|          18|            6|
|      0008|Female| 23|          18|           94|
|      0009|  Male| 64|          19|            3|
|      0010|Female| 30|          19|           72|
|      0011|  Male| 67|          19|           14|
|      0012|Female| 35|          19|           99|
|      0013|Female| 58|          20|           15|
|      0014|Female| 24|          20|           77|
|      0015|  Male| 37|          20|           13|
|      0016|  Male| 22|          20|           79|
|      0017|Female| 35|          21|           35|
|      0018|  Male| 20|          21|           66|
|      0019|  Male| 52|          23|           29|
|      0020|Female| 35|          23|           98|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [59]:
df1.show()

+----------+--------------------+
|CustomerID|            location|
+----------+--------------------+
|      0001|Warrensburg Missouri|
|      0002|Warrensburg Missouri|
|      0003|Warrensburg Missouri|
|      0004|Warrensburg Missouri|
|      0005|Warrensburg Missouri|
|      0006|Warrensburg Missouri|
|      0007|Warrensburg Missouri|
|      0008|Warrensburg Missouri|
|      0009|Warrensburg Missouri|
|      0010|Warrensburg Missouri|
|      0011|Warrensburg Missouri|
|      0012|Warrensburg Missouri|
|      0013|Warrensburg Missouri|
|      0014|Warrensburg Missouri|
|      0015|Warrensburg Missouri|
|      0016|Warrensburg Missouri|
|      0017|Warrensburg Missouri|
|      0018|Warrensburg Missouri|
|      0019|Warrensburg Missouri|
|      0020|Warrensburg Missouri|
+----------+--------------------+
only showing top 20 rows

In [60]:
from pyspark.sql.functions import when
df.select("CustomerID", when(df.AnnualIncome >= "20", "Rich Customer")).show()

+----------+-----------------------------------------------------+
|CustomerID|CASE WHEN (AnnualIncome >= 20) THEN Rich Customer END|
+----------+-----------------------------------------------------+
|      0001|                                                 NULL|
|      0002|                                                 NULL|
|      0003|                                                 NULL|
|      0004|                                                 NULL|
|      0005|                                                 NULL|
|      0006|                                                 NULL|
|      0007|                                                 NULL|
|      0008|                                                 NULL|
|      0009|                                                 NULL|
|      0010|                                                 NULL|
|      0011|                                                 NULL|
|      0012|                                                 NULL|
|      0013|                                        Rich Customer|
|      0014|                                        Rich Customer|
|      0015|                                        Rich Customer|
|      0016|                                        Rich Customer|
|      0017|                                        Rich Customer|
|      0018|                                        Rich Customer|
|      0019|                                        Rich Customer|
|      0020|                                        Rich Customer|
+----------+-----------------------------------------------------+
only showing top 20 rows

In [61]:
from pyspark.sql.functions import filter
df.filter(df.SpendingScore >= "70").show()

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0002|  Male| 21|          15|           81|
|      0004|Female| 23|          16|           77|
|      0006|Female| 22|          17|           76|
|      0008|Female| 23|          18|           94|
|      0010|Female| 30|          19|           72|
|      0012|Female| 35|          19|           99|
|      0014|Female| 24|          20|           77|
|      0016|  Male| 22|          20|           79|
|      0020|Female| 35|          23|           98|
|      0022|  Male| 25|          24|           73|
|      0024|  Male| 31|          25|           73|
|      0026|  Male| 29|          28|           82|
|      0030|Female| 23|          29|           87|
|      0032|Female| 21|          30|           73|
|      0034|  Male| 18|          33|           92|
|      0036|Female| 21|          33|           81|
|      0038|Female| 30|          34|           73|
|      0040|Female| 20|          37|           75|
|      0042|  Male| 24|          38|           92|
|      0124|  Male| 39|          69|           91|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [62]:
from pyspark.sql.functions import *
df.filter(df.Age.isNotNull()).show()

+----------+------+---+------------+-------------+
|CustomerID| Genre|Age|AnnualIncome|SpendingScore|
+----------+------+---+------------+-------------+
|      0001|  Male| 19|          15|           39|
|      0002|  Male| 21|          15|           81|
|      0003|Female| 20|          16|            6|
|      0004|Female| 23|          16|           77|
|      0005|Female| 31|          17|           40|
|      0006|Female| 22|          17|           76|
|      0007|Female| 35|          18|            6|
|      0008|Female| 23|          18|           94|
|      0009|  Male| 64|          19|            3|
|      0010|Female| 30|          19|           72|
|      0011|  Male| 67|          19|           14|
|      0012|Female| 35|          19|           99|
|      0013|Female| 58|          20|           15|
|      0014|Female| 24|          20|           77|
|      0015|  Male| 37|          20|           13|
|      0016|  Male| 22|          20|           79|
|      0017|Female| 35|          21|           35|
|      0018|  Male| 20|          21|           66|
|      0019|  Male| 52|          23|           29|
|      0020|Female| 35|          23|           98|
+----------+------+---+------------+-------------+
only showing top 20 rows

In [63]:
df.filter(df.Age.isNull()).show()

+----------+-----+---+------------+-------------+
|CustomerID|Genre|Age|AnnualIncome|SpendingScore|
+----------+-----+---+------------+-------------+
+----------+-----+---+------------+-------------+

In [64]:
df = df.na.drop()

In [65]:
df_pandas = df.toPandas()

In [66]:
print(type(df_pandas))

<class 'pandas.core.frame.DataFrame'>

In [67]:
spark.stop